{% extends 'base.html' %}
{% block title %}Ancombc{% endblock %}
{% block content %}

<head>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>

<body>
    Ancombc
    <div>Please choose the project
        {% csrf_token %}
        <select id="select_proj" name="select_proj">
            {% for proj in proj_list %}
            <option>{{proj}}</option>
            <!-- <ul><a class="dropdown-item">{{proj}}</a></ul> -->
            {% endfor %}
        </select>
        <input type="button" id="target_proj" value="Confirm">
        {{ur_proj}}
    </div>
    <div id="class_div" style="display:none;">Please choose the class
        {% csrf_token %}
        <select id="select_clas" name="select_clas">

        </select>
        <input type="button" id="target_clas" value="Run">
        {{ur_proj}}
    </div>
    <div id="process" style="display:none;">
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </div>

    <div id="view_div" style="display:none;">
        {% csrf_token %}
        <input type="button" id="view_d" value="Show the result" href="/ancombc/differentials_d/">
        <input type="button" id="view_b" value="Show the barplot" href="/ancombc/differentials_b/">
    </div>
</body>
<script>
    $(function () {
        $('#target_proj').click(function (e) {
            e.preventDefault
            //ajax上傳文件必須通過FormData對象傳輸數據
            var formdata = new FormData();
            var user_proj = $('#select_proj').val();
            // alert($('#select_proj').val())
            formdata.append('user_proj', user_proj);
            $("#class_div").css("display", "inline"); // 顯示第二層選單
            $("#view_div").css("display", "none")
            $.ajax({
                url: "/ancombc/",
                type: 'post',
                data: formdata,
                processData: false,//不處理數據
                contentType: false,//不設置內容類型，按原格式傳輸
                success: function (response) {
                    $.each(response, function (key, value) {
                        // alert("測試")
                        $('#select_clas').append('<option>' + response[key] + '</option>')
                    });
                },
                error: function () {
                    alert("失敗")
                }
            })
            // alert("success")
        })

        $('#target_clas').click(function (e) {
            e.preventDefault
            //ajax上傳文件必須通過FormData對象傳輸數據
            var formdata = new FormData();
            var user_proj = $('#select_proj').val();
            var target_clas = $('#select_clas').val();
            // alert($('#select_clas').val())
            formdata.append('user_proj', user_proj);
            formdata.append('target_clas', target_clas);
            $("#target_proj").attr("disabled", "disabled")
            $("#target_clas").attr("disabled", "disabled")
            $("#process").css("display", "inline")
            $("#view_div").css("display", "none")
            $.ajax({
                url: "/ancombc/",
                type: 'post',
                data: formdata,
                processData: false,//不處理數據
                contentType: false,//不設置內容類型，按原格式傳輸
                success: function (response) {
                    // alert(response)
                    $("#view_div").css("display", "inline")
                    $("#target_proj").attr("disabled", false)
                    $("#target_clas").attr("disabled", false)
                    $("#process").css("display", "none")
                    // $('#view_div').append("<a href='" + response + "'>differentials.qzv</a>")
                },
                error: function () {
                    alert("失敗")
                }
            })
            // alert("success")
        })

        $('#view_d').click(function (e) {
            e.preventDefault
            //ajax上傳文件必須通過FormData對象傳輸數據
            var formdata = new FormData();
            var user_proj = $('#select_proj').val();
            formdata.append('user_proj', user_proj);
            $.ajax({
                url: "/ancombc/differentials_d/",
                type: 'post',
                data: formdata,
                processData: false,//不處理數據
                contentType: false,//不設置內容類型，按原格式傳輸
                success: function (response) {
                    // alert(response)
                    window.open("/ancombc/differentials_d/")
                },
                error: function () {
                    alert("失敗")
                }
            })
        })

        $('#view_b').click(function (e) {
            e.preventDefault
            //ajax上傳文件必須通過FormData對象傳輸數據
            var formdata = new FormData();
            var user_proj = $('#select_proj').val();
            formdata.append('user_proj', user_proj);
            $.ajax({
                url: "/ancombc/differentials_b/",
                type: 'post',
                data: formdata,
                processData: false,//不處理數據
                contentType: false,//不設置內容類型，按原格式傳輸
                success: function (response) {
                    // alert(response)
                    window.open("/ancombc/differentials_b/")
                },
                error: function () {
                    alert("失敗")
                }
            })
        })

    })
</script>
{% endblock %}