<!-- manageproj -->
<!-- <form id="remove_file" style="display:none;" align="center"> -->
<!-- Select Files<br> -->
<!-- <div id="r_sample_div" style="display:none;" align="center">
            <input type="checkbox" name="sample" id="r_sample" style="display:none;">
            <label for="r_sample">
                sample-metadata.tsv
            </label>
        </div>
        <br>
        <div id="r_table_div" style="display:none;" align="center">
            <input type="checkbox" name="table" id="r_table" style="display:none;">
            <label for="r_table">
                table.qza
            </label>
        </div>
        <br>
        <div id="r_taxonomy_div" style="display:none;" align="center">
            <input type="checkbox" name="taxonomy" id="r_taxonomy" style="display:none;">
            <label for="r_taxonomy">
                taxonomy.qza
            </label>
        </div>
        <br>
        <input type="button" id="remove_file_confirm" value="Confirm">
    </form> -->
<!-- <div id="remove" style="display:none;" align="center">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio1">
            <label class="form-check-label" for="radio1">
                sample-metadata.tsv
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio2">
            <label class="form-check-label" for="radio2">
                table.qza
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio3">
            <label class="form-check-label" for="radio3">
                taxonomy
            </label>
        </div>
    </div> -->
<!-- <div id="remove" style="display:none;">
        <div class=" card-header bg-primary" align="center">
            <h4 style="color:white">Please Choose file</h4>
        </div>
        <div align="center"> -->
<!-- <label><input type="checkbox" name="lang-5" value="php">PHP</label> -->
<!-- <div style="padding:1em"></div>
            <select id="remove_file" name="remove_file">
                {% for file in file_list %}
                <option>{{file}}</option> -->
<!-- <ul><a class="dropdown-item">{{proj}}</a></ul> -->
<!-- {% endfor %}
            </select>
        </div>
        <input type="button" id="target_proj" value="Confirm">
        <div id="file" align="center">
            {% csrf_token %}
        </div>
    </div> -->